@use 'variables' as *;

@keyframes hoverPlayer {
    to {
        background-color: darken($primary-light, 5%);
    }
}


@keyframes hoverPlayer-darkm {
    to {
        background-color: darken($primary-light-darkm, 7%);
    }
}


@keyframes card-animation {
    from {
        opacity: 0;
        transform: rotateX(-40deg);
    } to {
        opacity: 100;
        transform: rotateX(0);
    }
}